html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.tree {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tree-data:text {
  color: red;
}

.tree-left {
  background: dodgerblue;
  display: inline-block;
  width: 10%;
}

.tree-right {
  background: darkturquoise;
  display: inline-block;
  width: 10%;
}

.form-control {
  margin: 10px 0;
}

input {
  width: 100px;
}

.input-button {
  margin-left: 1rem;
  width: 100px;
}

.find-min-button,
.find-max-button {
  margin-left: 1rem;
  width: 110px;
}

.tree-section ul {
  display: flex;
  justify-content: center;
}

.tree-section li {
  width: 100%;
}

.tree-section .tf-nc {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background: dodgerblue;
  /* border: 2px solid white; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
}
/* 
.tf-nc:active,
.tf-nc:hover :not(.tf-nc::after) :not(.tf-nc::before) {
  transform: scale(1.1);
} */

.current-node {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #ffff00, #23d5ab) 400%
    400% !important;

  /* background-size: ; */

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
